<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <!-- <h2>Latest Mars News</h2> -->
    <!-- <h3>Featured Mars Image</h3> -->
    <!-- <h3>Mars Hemispheres</h3> -->
<!-- Creates the Overall Grid -->
<!-- Can create a navbar with name and links to the right.  -->
 <!-- <div class="container"> -->
 
  <div class="container-fluid">
    <!-- row 1 has the headings needed across the page. -->
      <div class="jumbotron text-center">
          <h1>Mission to Mars</p>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
      </div>
      <!-- <div class="row">
      <div class="col-md-12">
         <div class="box-set">
          <figure class="box box-1">Latitude</figure>
        </div>  -->  
        <!-- <nav class="navbar navbar-default"> -->
        <!-- <div class="container-fluid"> -->
          <!-- Brand and toggle get grouped for better mobile display -->
          <!-- <div class="navbar-header"> -->
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> -->
          <!-- <span class="sr-only">Toggle navigation</span> -->
          <!-- <span class="icon-bar"></span> -->
          <!-- <span class="icon-bar"></span> -->
          <!-- <span class="icon-bar"></span> -->
          <!-- </button> -->
          <!-- <a class="navbar-brand" href="index.html">Latitude</a> -->
          <!-- </div> -->
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
          <!-- <ul class="nav navbar-nav navbar-right"> -->
            
            <!-- <li class="dropdown"> -->
            <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="caret"></span> -->
            <!-- </a> -->
            <!-- <ul class="dropdown-menu" role="menu"> -->
              <!-- <li><a href="Temperature.html">Max Temperature</a></li> -->
              <!-- <li><a href="Humidity.html">Humidity</a></li> -->
              <!-- <li><a href="Cloudiness.html">Cloudiness</a></li> -->
             <!--  <li><a href="Windspeed.html">Windspeed</a></li> -->
              <!--  <li role="separator" class="divider"></li> -->
              <!-- <li><a href="#">Windspeed</a></li> -->
              
            <!-- </ul> -->
            <!-- <li><a href="comparison.html">Comparison</a></li> -->
            <!-- <li><a href="Data.html">Data</a></li> -->
            <!-- </li> -->
          <!-- </ul> -->
          <!-- </div> -->
          <!-- /.navbar-collapse -->    
        <!-- </div> -->
        <!-- /.container-fluid -->
        <!-- </nav> -->
        
        <!-- </div> -->
    <!-- </div> -->
    
    <!-- <div class="jumbotron"> -->
        
    <!-- Row 2 -->
     <div class="row">
      <div class="col-md-12">
        
        <h2>  Latest Mars News </h2>
      </div>
      <!-- <div class="col-md-2">
        <h3> Visualizations </h3>
      </div>
      <div class="col-md-2"> -->
        
      </div>
  
      
    
    <!-- Row 3 -->
    <div class="row">
      <div class="col-md-8">
        <article>
          <a target="_blank" href="Temperature.html">
          <img src="Resources/assets/images/latvsMaxtemp.png" alt="Featured Mars Image" width ="80%">
          </a>
        </article>
      </div>
      <div class="col-md-4">
        <p>
          <em>Future site of Mars Current Weather</em>

        </p>
        <p>Future Site of Mars Facts</p>
      </div>
      
      <!-- <div class="col-md-2">
          <h6> Latitude vs Max Temp </h6>
        <a target="_blank" href="Temperature.html">
        <img src="Resources/assets/images/latvsMaxtemp.png" alt="Latitude vs Max Temp" width ="80%">
        </a>
      </div>
      <div class="col-md-2">
          <h6> Latitude vs Humidity </h6>
        <a target="_blank" href="Humidity.html">
        <img src="Resources/assets/images/latvshumidity.png" alt="Latitude vs Humidity" width ="80%">
        </a>
      </div> -->
  
     </div>
 
    <!-- Row 4 -->
    <div class="row">
  
      <div class= "col-lg-6" "col-md-6">
          <!-- <a target="_blank" href="Windspeed.html"> -->
          <img src="Resources/assets/images/latvswindspeed.png" alt="Hemisphere_1" width ="80%">
          <h6> Hemisphere Enhanced  </h6>
      </div>
      <div class="col-lg-6" "col-md-6">
        <!-- <a target="_blank" href="Windspeed.html"> -->
        <img src="Resources/assets/images/latvswindspeed.png" alt="Hemisphere_2" width ="80%">
        </a>
        <h6> Hemisphere Enhanced  </h6>
      </div>
      
    
    </div> 
     <!-- Row 5 -->
     <div class="row">
  
        <div class= "col-lg-6" "col-md-6">

            <!-- <a target="_blank" href="Windspeed.html"> -->
            <img src="Resources/assets/images/latvswindspeed.png" alt="Hemisphere_3" width ="80%">
            <h6> Hemisphere Enhanced  </h6>
        </div>
        <div class="col-lg-6" "col-md-6">

          <!-- <a target="_blank" href="Windspeed.html"> -->
          <img src="Resources/assets/images/latvswindspeed.png" alt="Hemisphere_4" width ="80%">
          </a>
          <h6> Hemisphere Enhanced  </h6>
        </div>
        
      
      </div> 
    <!-- end of jumbotron div -->
      <!-- </div>               -->
  <!-- end of container fluid div -->
  </div>               
    
    
  
   
  </body>
  
  </html>
